# Environment variables
.env

# Virtual environment
.venv/

# Database
*.sqlite3
*.db

# Media files
media/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db